@use "../abstract/variables" as var;


body{
    background-color: var.$principal-color;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var.$police-principale;
    color: var.$title;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h2,h3,h4 {
    font-family: var.$police-secondaire;
    color: var.$title;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

ul, li {
    list-style: none;
}
p {
    font-family: var.$police-tertiare;
    color: var.$font;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: var.$police-quat;
    color: black;
}