@use "../base/base";
@use "../abstract/variables" as v;

#footer {
    background-color: v.$secondary-color;
    display: flex;
    padding: 0 5%;
    min-height: 8vh;
    margin-top: 5%;

    .footer-logo {
        width: 10%;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 2.5% 0;

    p {
        color: v.$font;
        font-family: v.$police-tertiare;
        margin-bottom: 0.5rem;
    }

    .footer-links {
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        // ...
    }
}
}