@font-face {
  font-family: "Fell";
  src: url(../fonts/IM_Fell_English_SC/IMFellEnglishSC-Regular.ttf);
}
@font-face {
  font-family: "Cinzel";
  src: url(../fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Garamond";
  src: url(../fonts/EB_Garamond/static/EBGaramond-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}
body {
  background-color: #1B1F3B;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Fell";
  color: #E6C372;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
  font-family: "Cinzel";
  color: #E6C372;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

ul, li {
  list-style: none;
}

p {
  font-family: "Garamond";
  color: #F5F2EB;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Raleway";
  color: black;
}

header {
  background-color: rgba(179, 179, 180, 0.7529411765);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}
.header-container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container .header h1, .header-container .header h2 {
  padding: 0.5%;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.header-container .header h1 {
  font-size: 2rem;
}
.header-container .header h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.header-container .header-logo-container {
  width: 10%;
  height: 100%;
  margin-left: 5%;
}
.header-container .header-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar {
  display: flex;
  gap: 20px;
  margin-left: -10%;
}

#footer {
  background-color: rgba(179, 179, 180, 0.7529411765);
  display: flex;
  padding: 0 5%;
  min-height: 8vh;
  margin-top: 5%;
}
#footer .footer-logo {
  width: 10%;
}
#footer .footer-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
#footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: 2.5% 0;
}
#footer .footer-container p {
  color: #F5F2EB;
  font-family: "Garamond";
  margin-bottom: 0.5rem;
}
#footer .footer-container .footer-links {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#bestiary {
  margin: 0 auto;
  background-color: #3D735E;
  width: 85%;
  border-radius: 0px 200px 0px 200px;
  text-align: center;
  padding: 1.5% 1% 1% 1%;
  margin-top: 4.5%;
}
#bestiary .bestiary-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 75%;
  margin-top: 2%;
}
#bestiary .bestiary-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
  width: 100%;
}
#bestiary a {
  display: flex;
  align-self: center;
  margin-top: 20px;
  width: fit-content;
  text-align: center;
  background-color: #6c4ab6;
  padding: 10px 25px;
  border-radius: 25px;
}
#bestiary a:hover {
  border: 1px solid #E6C372;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
  color: rgba(0, 0, 0, 0.351);
}
#bestiary .homepage-img {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 75%;
  gap: 7.5%;
}
#bestiary .homepage-img .img-container-homepage {
  width: 100%;
  height: 300px;
}
#bestiary .homepage-img .img-container-homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

#codex-homepage {
  margin: 0 auto;
  background-color: #3D735E;
  width: 85%;
  border-radius: 200px 0px 200px 0px;
  text-align: center;
  padding: 1.5% 1% 1% 1%;
  margin-top: 4.5%;
}
#codex-homepage .codex-homepage-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 75%;
  margin-top: 2%;
}
#codex-homepage .codex-homepage-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
  width: 100%;
}
#codex-homepage a {
  display: flex;
  align-self: center;
  margin-top: 20px;
  width: fit-content;
  text-align: center;
  background-color: #6c4ab6;
  padding: 10px 25px;
  border-radius: 25px;
}
#codex-homepage a:hover {
  border: 1px solid #E6C372;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
  color: rgba(0, 0, 0, 0.351);
}
#codex-homepage .homepage-img-codex {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 65%;
  gap: 7.5%;
}
#codex-homepage .homepage-img-codex .img-codex-homepage {
  width: 100%;
  height: 150px;
}
#codex-homepage .homepage-img-codex .img-codex-homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

.inscription-head {
  background-color: rgba(179, 179, 180, 0.7529411765);
}

.heading-container {
  display: flex;
  align-items: center;
  gap: 20%;
  height: 15vh;
}
.heading-container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-container .heading h1, .heading-container .heading h2 {
  padding: 0.5%;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.heading-container .heading h1 {
  font-size: 2rem;
}
.heading-container .heading h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.heading-container .heading-logo-container {
  width: 10%;
  height: 100%;
  margin-left: 5%;
}
.heading-container .heading-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heading-container .connection-container {
  background-color: #F5F2EB;
  padding: 0.5% 1%;
  border-radius: 25px;
}
.heading-container .connection-container a {
  color: #6c4ab6;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #F5F2EB;
  width: 45%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5%;
  border-radius: 35px;
}
.form-container h2 {
  margin-bottom: 2%;
}

.inscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
}

.form-item, .form-submit {
  width: 45%;
}

input {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 2%;
}

.submit--primary {
  background-color: #3D735E;
  border: 1px solid;
  margin-top: 2.5%;
  padding: 1.5%;
  border-radius: 15px;
  width: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

.inscription-head {
  background-color: rgba(179, 179, 180, 0.7529411765);
}

.heading-container {
  display: flex;
  align-items: center;
  gap: 20%;
  height: 15vh;
}
.heading-container .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-container .heading h1, .heading-container .heading h2 {
  padding: 0.5%;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.heading-container .heading h1 {
  font-size: 2rem;
}
.heading-container .heading h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.heading-container .heading-logo-container {
  width: 10%;
  height: 100%;
  margin-left: 5%;
}
.heading-container .heading-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.heading-container .connection-container {
  background-color: #F5F2EB;
  padding: 0.5% 1%;
  border-radius: 25px;
}
.heading-container .connection-container a {
  color: #6c4ab6;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #F5F2EB;
  width: 45%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5%;
  border-radius: 35px;
}
.form-container h2 {
  margin-bottom: 2%;
}

.inscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
}

.form-item, .form-submit {
  width: 45%;
}

input {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 2%;
}

.submit--primary {
  background-color: #3D735E;
  border: 1px solid;
  margin-top: 2.5%;
  padding: 1.5%;
  border-radius: 15px;
  width: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

.bestiaire-heading {
  display: flex;
  gap: 20px;
  padding: 1.5%;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #E6C372;
  background-color: rgba(179, 179, 180, 0.7529411765);
}

.type-items {
  position: relative;
  padding: 10px 25px;
  color: #6c4ab6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: ease-in 0.2s;
}
.type-items::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #6c4ab6;
  border-radius: 2px;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%);
}
.type-items:hover::after {
  width: 80%;
  left: 50%;
}

.bestiaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.bestiaire-container-content {
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
}

.best-img-container {
  height: 200px;
}
.best-img-container img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.bestiaire-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
  border: 1px solid #E6C372;
  border-radius: 25px;
  padding: 0.5%;
  margin-bottom: 1.25rem;
}

.form-container-bestiary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #F5F2EB;
  width: 45%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5%;
  border-radius: 35px;
}
.form-container-bestiary h2 {
  margin-bottom: 2%;
}

.form-bestiary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
}

.form-item-best, .form-submit-best {
  width: 45%;
}

.input-best {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 2%;
}

.submit--best {
  background-color: #3D735E;
  border: 1px solid;
  margin-top: 2.5%;
  padding: 1.5%;
  border-radius: 15px;
  width: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

.codex-heading {
  display: flex;
  gap: 20px;
  padding: 1.5%;
  width: 100%;
  border-radius: 25px;
  border: 1px solid #E6C372;
  background-color: rgba(179, 179, 180, 0.7529411765);
}

.type-items {
  position: relative;
  padding: 10px 25px;
  color: #6c4ab6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: ease-in 0.2s;
}
.type-items::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #6c4ab6;
  border-radius: 2px;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-50%);
}
.type-items:hover::after {
  width: 80%;
  left: 50%;
}

.bestiaire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.codex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.codex-container-content {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2%;
  display: flex;
}

.img-codex-container {
  width: 75%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.img-codex-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.codex-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-left: 6.5%;
  border: 1px solid #E6C372;
  border-radius: 25px;
}

.form-container-codex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #F5F2EB;
  width: 45%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5%;
  border-radius: 35px;
}
.form-container-codex h2 {
  margin-bottom: 2%;
}

.form-codex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
}

.form-item-codex, .form-submit-codex {
  width: 45%;
}

.input-codex {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 2%;
}

.submit--codex {
  background-color: #3D735E;
  border: 1px solid;
  margin-top: 2.5%;
  padding: 1.5%;
  border-radius: 15px;
  width: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
}

.form-editBestiary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: #F5F2EB;
  width: 45%;
  padding: 1%;
  padding-top: 1%;
  margin-top: 5%;
  border-radius: 35px;
}
.form-editBestiary .form-item-editBestiary, .form-editBestiary .form-submit-editBestiary {
  width: 95%;
}
.form-editBestiary input {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 2%;
}

/*# sourceMappingURL=style.css.map */
