$principal-color: #1B1F3B;
$secondary-color: #b3b3b4c0;
$accentuations: #6c4ab6;
$title: #E6C372;
$bestiary: #3D735E;
$font: #F5F2EB;

$police-principale: "Fell";
$police-secondaire: "Cinzel";
$police-tertiare: "Garamond";
$police-quat: "Raleway";