@use "../base/base";
@use "../abstract/variables" as v;

.bestiaire-heading {
    display: flex;
    gap: 20px;
    padding: 1.5%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid v.$title;
    background-color: v.$secondary-color;

}

.type-items {
    position: relative;
    padding: 10px 25px;
    color: v.$accentuations;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: ease-in 0.2s;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        background: v.$accentuations;
        border-radius: 2px;
        transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-50%);
    }

    &:hover::after {
        width: 80%;
        left: 50%;
    }
}
.bestiaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
.bestiaire-container-content {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}
.best-img-container {
    height: 200px;
    img {
        border-radius: 25px;
        width: 100%;
        height: 100%;      
        object-fit: cover;
        object-position: top;
    }
}
.bestiaire-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    border: 1px solid v.$title;
    border-radius: 25px;
    padding: 0.5%;
    margin-bottom: 1.25rem;
}