@use "../base/base";
@use "../abstract/variables" as v;

#bestiary {
    margin: 0 auto;
    background-color: v.$bestiary;
    width: 85%;
    border-radius: 0px 200px 0px 200px;
    text-align: center;
    padding: 1.5% 1% 1% 1%;
    margin-top: 4.5%;
    .bestiary-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 75%;
        margin-top: 2%;
    }
    .bestiary-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 40px;
        width: 100%;
    }
    a  {
        display: flex;
        align-self: center;
        margin-top: 20px;
        width: fit-content;
        text-align: center;
        background-color: v.$accentuations;
        padding: 10px 25px;
        border-radius: 25px;
    }
    a:hover {
        border: 1px solid v.$title;
        box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
        color: rgba(0, 0, 0, 0.351);
    }
    .homepage-img {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 75%;
        gap: 7.5%;
        .img-container-homepage {
            width: 100%;
            height: 300px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
                box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
            }
        }
    }
}


#codex-homepage {
    margin: 0 auto;
    background-color: v.$bestiary;
    width: 85%;
    border-radius: 200px 0px 200px 0px;
    text-align: center;
    padding: 1.5% 1% 1% 1%;
    margin-top: 4.5%;
    .codex-homepage-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        width: 75%;
        margin-top: 2%;
    }
    .codex-homepage-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 40px;
        width: 100%;
    }
    a  {
        display: flex;
        align-self: center;
        margin-top: 20px;
        width: fit-content;
        text-align: center;
        background-color: v.$accentuations;
        padding: 10px 25px;
        border-radius: 25px;
    }
    a:hover {
        border: 1px solid v.$title;
        box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
        color: rgba(0, 0, 0, 0.351);
    }
    .homepage-img-codex {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 65%;
        gap: 7.5%;
        .img-codex-homepage {
            width: 100%;
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
                box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.205);
            }
        }
    }
}